# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# testing
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
